.body {
  font-family: Arial, Helvetica, sans-serif;
}

.background-top {
  background-image: url('photos/fitnessgeneral.jpg'); 
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white; 
  position: relative;
  z-index: 1; 
}

.text-overlay {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  text-align: center; 
}

.content-container {
  position: relative;
  margin-top: -10px; 
  height: 300px;
  z-index: 2; 
}

.left-box {
  position: absolute;
  top: 0;
  left: 15%; 
  width: 32%;
  padding: 50px;
  background-color: lightblue;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 2;
}

.right-box {
  position: absolute;
  top: 100px;
  left: 52.5%; 
  width: 32%;
  padding: 50px;
  background-color: rgb(65, 65, 255);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
  text-align: center;
}

.content-container + .content-container {
  margin-top: 150px; 
}

.right-box + .left-box {
  top: 300px;
  left: 10%;
}

@media (max-width: 768px) {
  .left-box, .right-box {
      width: 90%; 
      position: relative; 
      top: 0; 
      left: 0; 
      transform: none; 
      margin: 10px auto; 
  }

  .content-container {
      margin-top: 20px; 
  }
  
  .background-top {
      height: 300px; 
  }

  .text-overlay {
      font-size: 14px;
  }
}


.button {
  display: inline-block;
  background-color:#ccc;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}