<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissertation project</title>
    <link rel="stylesheet" href="/static/homestyle.css"/>
    <style>
        body {
            font-family: 'YourPreferredFont', sans-serif;
        }
    </style>
</head>

<body>
    <div class="background-top">
        <div class="text-overlay">
            <div>
                <h1>Getting the country more active: a tool to help people find activities in their local area</h1>
            </div>
            <p style="font-size: 12px; color: #555; margin-top: 5px;">
                Photo by <a href="https://www.pexels.com/photo/women-doing-a-yoga-on-yoga-mat-3775587/" target="_blank" style="color: #555; text-align: left; text-decoration: none;">Andrea Piacquadio</a>: 
                https://www.pexels.com/photo/women-doing-a-yoga-on-yoga-mat-3775587/
            </p>
        </div>
    </div> 
    <div class="content-container">
        <div class="left-box">
            About 5 million people die worldwide each year from physical inactivity. Not only does a national effort to increase the amount of physical activity have the ability to relieve strain on the NHS as according to a recent article published by the Department of Health and Social Care Media Centre, ‘obesity costs the NHS £6.5 billion a year and is the second biggest preventable cause of cancer’ but it also has the ability to improve people’s quality of life.
        </div>
        <div class="right-box">
            The national guidelines for physical activity is that adults should be doing at least 150 minutes of moderate intensity aerobic physical activity per week, however data from the health survey for England in 2021 shows that only 34% of adults achieve this. I spoke to Sharni Prentice who is the communities contract manager for Mid Sussex where she runs a referral scheme for helping people who have a range of different conditions get back into exercise and she said that it's important to ‘find what works for you’. She also mentioned the benefits she has seen in clients which have included increased confidence and mental health.
        </div>
    </div>

    <div class="content-container">
        <div class="left-box">
            As previously mentioned, inactivity can lead to death but it can also lead to a range of other conditions such as Alzheimer’s disease, Parkinson’s disease, Coeliac disease, Cardiovascular disease, anxiety and depression. It can also lead to a decrease in social health. For example, according to the health survey for England in 2021, 19% of adults who met the recommendations for physical activity felt lonely some of the time, often or always compared to 28% who did some or low activity and 29% who were inactive.
        </div>
        <div class="right-box">
            All of this evidence highlights the need for physical activity not just for physical health but also mental, social and emotional health. If people want to live longer and have a better quality of life, movement is the key.
        </div>
    </div>

    <div class="content-container">
        <div class="left-box">
            The tool on the following page is intended to help people get into exercise. There are many factors that prevent people from exercising however with this tool I am hoping that not being able to find places to get active will no longer be one.
        </div>
        <div class="right-box">
            <a href="tool" style="text-decoration: none;">
                <button class="button" style="vertical-align:middle">
                    <span>Click here to try the tool out for yourself</span>
                </button>
            </a>
        </div>
    </div>
</body>
</html>
