<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dissertation project</title>
    <link rel="stylesheet" href="/static/homestyle.css"/>
</head>

<body>
    <div class="header">
        <div> <h2>The link between physical activity and overall health</h2></div>
    </div>


      <div class="row">
        <div class="column side" style="background-color:#f1f1f1;"></div>
        <div class="column middle" style="background-color:#bbb;">  According to a recent article published by the Department of Health and Social Care Media Centre, ‘obesity costs the NHS £6.5 billion a year and is the second biggest preventable cause of cancer’. This statistic is extremely alarming but could be easily helped by a national effort to increase the amount of physical activity done by the population.
            The physical activity guidelines for adults which was published by the department of health and social care states that adults should be aiming for at least 150 minutes of moderate intensity aerobic physical activity per week. According to the health survey for England in 2021, only 34% of adults met these guidelines. 

Not only was a lack of physical activity linked to poor physical health but also mental health. From the same survey,  19% of adults who met the recommendations for physical activity felt lonely some of the time, often or always compared to 28% who did some or low activity and 29% who were inactive. Amongst older adults, loneliness is very common so it is evident that especially at older ages, when the body starts to deteriorate it is just as important to go and exercise for the emotional and social benefits as well as the physical.<br>
<br><iframe title="The percentage of people considered obese and how often they feel lonely" aria-label="Bar Chart" id="datawrapper-chart-4BzGt" src="https://datawrapper.dwcdn.net/4BzGt/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="268" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r=0;r<e.length;r++)if(e[r].contentWindow===a.source){var i=a.data["datawrapper-height"][t]+"px";e[r].style.height=i}}}))}();
        </script>
</div>
        <div class="column side" style="background-color:#f1f1f1;"></div>
      </div>
      
      <div class="footer">
        <a>The tool on the following page is intended to help people get into exercise. There are many factors that prevent people from exercising however with this tool I am hoping that not being able to find places to get active will no longer be one</a>
        <a href="tool"><p><br>try the tool out for yourself</p></a>
      </div>

</body>